body{
    background-color: #f9f7f7;
    font-family: 'Lora', serif;
}

a {
    text-decoration: none;
    color: #f9f7f7;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    background: radial-gradient(circle at 10% 20%, rgb(150, 192, 236) 10%, rgba(149, 147, 231, 1) 55.5%);
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2); ;
}

.header {
    border-bottom: 2px solid #f9e5e5;
    padding: 0 0 30px;
}

.search-form {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    font-size: 14px;
    padding: 15px;
    width: 75%;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 200;
    outline: none;
}

.submit-btn {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    padding: 17px;
    width: 100px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 200;
    cursor: pointer;
}
.search-btn :hover{
    background-color: #f9e5e5;
    color: #f9f7f7;
}

 .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 40px;
} 

.temperature-container {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}
.h-city{
    margin: 0 auto;
    font-size: 45px;
}

.weather-unit{
    margin-left: 5px;
    font-size: 20px;
    position: relative;
    top: -15px;
    left: -5px;
    font-size: 20px; 
}

.text-container {
    font-size: 1.5em;
    margin-top: 50px;
    font-weight: 400;
}

.temp-details {
    font-size: 2.5em;
}

 .weather-forecast{
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(90deg,rgba(214, 159, 183, 0.2) 0%, rgba(103, 121, 141, 0.2) 100%);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.daily-forecast:hover {
    background: linear-gradient(90deg,rgba(252, 145, 194, 0.8) 0%, rgba(172, 206, 244, 0.8) 100%);
}

footer {
  border-top: 1px solid #a93ca9;
  padding: 20px 0 0 0;
  text-align: center;
  color: #520a0a;
}

@media screen and (max-width: 760px) {
    .container{
        max-width: 350px;
        margin:20px auto;
    }
    .search-form {
        width: 55%;
    }
    .submit-btn {
        width: 80px;
        padding: 15px;
    }
    .card {
        padding: 15px;
    }
    .temperature-container {
        font-size: 14px;
    }
    .h-city {
        font-size: 20px;
    }
    .text-container{
        font-size: 18px;
    }
    .temp-details {
        font-size: 2em;
    }
    .weather-forecast {
        margin: 10px auto;
    }
    .daily-forecast {
        padding: 5px;
        margin: 5px;
    }
}