body{
    background-color: #f9f7f7;
    font-family: 'Lora', serif;
}

a {
    text-decoration: none;
    color: #f9f7f7;
}

.main {
    padding: 30px 0;
}

.container {
    width: 80%;
    margin: 45px auto;
    padding: 30px;
    border-radius: 10px;
    background: radial-gradient(circle at 10% 20%, rgb(150, 192, 236) 10%, rgba(149, 147, 231, 1) 55.5%);
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2); ;
}
.header {
    border-bottom: 2px solid #f9e5e5;
    padding: 0 0 30px 0;
}

.search-form {
    background-color: #f9e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 30px 0 0 0;
    width: 80%;
}

.submit-btn {
    background-color: #f9e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px 8px;
    cursor: pointer;
}
main {
    padding: 30px 0;
}

.card {
    display: grid;
    row-gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.weather-container {
    background-image:url('image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    border-radius: 10px;
}

.weather-condition {
    font: 1em 'Lora', serif;
    text-transform: capitalize;
    font-style: oblique;
}

.temperature-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin: 10px 0;
}
.temp-details {
    font-size: 40px;
    line-height: 40px;
    align-items: center;
} 

.icon {
    position: relative;
    top: -10px;
    left: -5px;
}
.h-city{
    padding: 0 20px;
    font-size: 40px;
    line-height: 40px;
}
.weather-unit{
    position: relative;
    top: -15px;
    left: -5px;
    font-size: 20px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 30px 0;
}

.details {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 28px;
    padding: 0 20px;
    align-self: center;
}

.weather-forecast {
    display: flex;
    margin: 10px 0;
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 5px;
    padding: 0 10px;
    border: 1px solid #f9e5e5;
    background: rgba(221, 220, 220, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    cursor: pointer;
}


footer {
  border-top: 1px solid #a93ca9;
  padding: 20px 0 0 0;
  text-align: center;
  color: #520a0a;
}

@media screen and (min-width: 576px) {
    .container {  
        width: 80%; 
    }  

    .search-form {  
        width: 60%;   
    }  

    .temp-details {  
        font-size: 48px;  
    }  

    .daily-forecast:hover {  
        background: rgba(183, 215, 249, 0.5);  
    }  

}


@media screen and (min-width: 767px) {
    .container {
    width: 600px;
}
}